.CardWrapper {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'cardImage';
}

.CardWrapper_cardImage {
    grid-area: cardImage;
    height: 100%;
    box-shadow: 0px 3px 15px black;
    transition: transform .2s;
}

.CardWrapper_cardImage_size {
    height: 100%;
    width: 100%;
}

.CardWrapper_cardImage:hover {
    transform: scale(1.06);
    cursor: pointer;
}