.pageNavi_button {
    margin: 0 4px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    color: var(--main-bg-color);
    background-color: var(--secondary-pale-bg-color);
    height: 25px;
    width: 12%;
}

.pageNavi_button__active{
    margin: 0 4px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    color: var(--main-bg-color);
    background-color: var(--secondary-bg-color);
    height: 25px;
    width: 6%;
}

.pageNavi_button__start{
    margin: 0 4px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    color: black;
    background-color: green;
    height: 25px;
    width: 12%;
}

.pageNavi_button__end{
    margin: 0 4px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    color: black;
    background-color: red;
    height: 25px;
    width: 12%;
}
