.HeaderWrapper {
    display: grid;
    height: 100%;
    align-items: center;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas: 'logo searchbar filters';
    padding: 0 20px;
}

.HeaderWrapper_logoImg {
    grid-area: logo;
    width: auto;
    height: 100%;
}

.HeaderWrapper_logoImg:hover {
    cursor: pointer;
}

.HeaderWrapper_searchBar {
    grid-area: searchbar;
    background-color: white;
    box-shadow: 2px 3px 10px gray;
    text-align: center;
    border: 0px;
    border-radius: 20px;
    width: 100%;
    height: 60%;
}

.HeaderWrapper_filters {
    grid-area: filters;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 10px;
}

.HeaderWrapper_filters__filterItem {
    color: var(--main-bg-color);
    font-size: small;
    font-weight: bold;
}

@media screen and (max-width: 800px){
    .HeaderWrapper {
        grid-template-columns: 1fr 1.5 1fr;
        grid-template-areas: 'logo searchbar filters';
    }

    .HeaderWrapper_searchBar{
        margin-right: 5%;
    }

    .HeaderWrapper_logoImg {
        height: 70%;
    }
}

@media screen and (max-width: 550px) {
    .HeaderWrapper_filters__filterItem {
        font-size: x-small;
    }
}

@media screen and (max-width: 450px){
    .HeaderWrapper {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas: 'logo searchbar filters';
        padding: 0 5px;
    }

    .HeaderWrapper_logoImg {
        height: 40%;
    }
}

@media screen and (max-width: 389px){
    .HeaderWrapper {
        grid-template-columns: 2fr 1fr;
        grid-template-areas: 'searchbar filters';
    }

    .HeaderWrapper_logoImg {
        display: none;
    }
}