.grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 'navbar'
                         'dashboard';
}

.navbar {
    grid-area: navbar;
    background-color: var(--secondary-bg-color);
    box-shadow: 0px 3px 15px black;
    z-index: 2;
}

.dashboard {
    grid-area: 'dashboard';
    background-color: var(--main-bg-color);
}