.GridContainer {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr 40px;
    grid-template-areas: 'header'
                         'dashboard'
                         'pageNavi';
}

.GridContainer_header {
    grid-area: header;
    background-color: var(--secondary-bg-color);
    box-shadow: 0px 3px 15px black;
    z-index: 2;
}

.GridContainer_pageNavi {
    grid-area: pageNavi;
    background-color: var(--main-bg-color);
}

.GridContainer_dashboard {
    grid-area: dashboard;
    background-color: var(--main-bg-color);
}