.grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 60px auto;
}

.navbar {
    background-color: var(--secondary-bg-color);
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    box-shadow: 0px 3px 15px black;
    position: relative;
    z-index: 2;
}

.dashboard {
    background-color: var(--main-bg-color);
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: auto;
    position: relative;
    z-index: 1;
}